.body{
  font-family: sans-serif;
}

.grid {
  display: grid;
  gap:2px;
  grid-template-columns: repeat(var(--cols,10),35px);
  grid-template-columns: repeat(var(--rows,10),35px);
  user-select: none;
}

.box{
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected{
  background-color: lightblue;
}